body {
	background-color: #65C9C3;
	color: #FFFFFF;
	size: 300px 400px;
	font-family: 'Raleway', sans-serif;
	text-align: center;	
}

ul {
	text-align: left
}

p  {
	text-align: left
}

div {
	margin: 4em
}