
* {margin: 0; padding:0; box-sizing:border-box;}
body {
	background-image: url('../images/ocean.jpeg');
	background-attachment:fixed;
	background-size:cover;
	background-repeat:no-repeat;
	font-size: 18px;
	font-family:'Fanwood Text', sans-serif;
	line-height: 150%;
}
header{
	height: 7vh; 
}
nav{
	padding: 0 2em 0 0;
}
nav a{
	float: right;
	color: rgba(255,255,255, 0.8);
	text-decoration: none;
	padding: 1em;
	font-family:'Raleway', sans-serif;
	font-size: 0.9em;
}
h2{
	text-align: left;
	font-weight: normal;
	padding: 1.5em 0 1em 0;
	text-transform: uppercase;
	font-size: 25px;
	font-family:'Raleway', sans-serif;
}
h3{
	text-align: left;
	font-weight: normal;
	font-size: 16px;
	text-transform: uppercase;
	padding: 0.6em 0;
	font-weight: bold;
}
section#services { 
	padding: 1em 16em 3em 16em;
} 
section#services div{ 
	margin:2 auto; 
	max-width:75em; 
} 
.servicescolumns { 
	padding:1em; 
}
.servicescolumns p{  
	padding:1em 0;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;

}
footer {
    height: 65px;
    background-color: #333;
    color: rgba(215, 215, 215, 0.3);
    font-weight: normal;
    text-align: center;
    font-family:'Raleway', sans-serif;
}
#footernav{
	color:red;
}
section#main {
	background-color: rgba(255, 255, 255, 0.8);
}
img{
	float: left;
	padding: 1.2em 1em 1.2em 0 ;
} 
a:hover {
    color: #f28600;
    transition: transform 0.2s, color 0.2s;
}
.sendemail{
	text-decoration: none;
	color: white;
	font-size: 0.9em;
	padding: 0.4em 1em;
	border-radius: 25px;
	background-color: rgba(242,134,0,0.8);
	font-family:'Raleway', sans-serif;
}
.sendemail:hover{
	background-color: rgba(135,135,135,0.8);
	color: white;
	transition: transform 0.4s, color 0.4s;
}
img#psychotherapy{
	width: 60%;
	height: auto;
}
img#energywork{
	width: 60%;
	height: auto;
	vertical-align: bottom;
}
img#pastlife{
	width: 60%; 
	height: auto;
	vertical-align: bottom;
}
@media only screen and (max-width: 768px){
#servicescolumns{
	float: none;
	width:auto;
}	
