
* {margin: 0; padding:0; box-sizing:border-box;}
body {
	background-image: url('../images/ocean.jpeg');
	background-attachment:fixed;
	background-size:cover;
	background-repeat:no-repeat;
	font-size: 18px;
	font-family:'Fanwood Text', sans-serif;
	line-height: 150%;
}
header{
	height: 7vh; 
}
div{
	float: left;
	margin: 2em;
}
p{
	padding: 0.75em 0
}
div h1 {
	font-size: 60px;
	color: rgba(242,134,0,1);
	font-family:'Allura', sans-serif;
	font-weight: normal;
	line-height: 85%;
	}   
div p{
	font-size: 18px;
	color: rgba(255,255,255, 0.8);
	font-family:'Raleway', sans-serif;
	font-weight: normal;
	line-height: 140%;
	padding: 0 0.3em;
}
nav{
	padding: 0 2em 0 0;
}
nav a{
	float: right;
	color: rgba(255,255,255, 0.8);
	text-decoration: none;
	margin: 1em;
	font-family:'Raleway', sans-serif;
	font-size: 16px;
}
h2{
	text-align: center;
	font-weight: normal;
	padding: 0.7em 0 0 0.4em;
	text-transform: uppercase;
	font-size: 18px;
	font-family:'Raleway', sans-serif;
}
h3{
	text-align: left;
	font-weight: normal;
	font-size: 16px;
	text-transform: uppercase;
	padding: 0.6em 0 0 0;
	font-weight: bold;
}
.generalinfo {
	max-width:50em; 
	height:20vh;
	text-align: left;
	margin: 0 3em;
}
section#slogan{
	height: 66vh; 
	color: rgba(242,134,0,0.9);
	font-size: 20px;
	padding:4em auto;
	font-family:'Allura', sans-serif;
}
section#services { 
	padding: 0 7em 1em 7em;
} 
section#services div{ 
	margin:2 auto; 
	max-width:75em; 
} 
.servicescolumns { 
	float:left; 
	padding:1em; 
	width:33.33%; 
}
.servicescolumns p{  
	padding:1em 0; 
}
section#aboutiryna { 
	padding: 3em 10em 3em 7em;
} 
section#aboutiryna div{ 
	margin:2 auto; 
} 
section#aboutirynacolumn1{ 
	float:left;
	padding: 0.5em 1em;
	width:22%; 
}
section#aboutirynacolumn2{ 
	float:left; 
	width:39%;
	padding: 1em;
}
section#aboutirynacolumn3{
	float:left; 
	width:39%;
	padding: 1em;
}
section#aboutirynacolumn3 a{
	font-family:'Raleway', sans-serif;
	margin: 1em 0;
}
section#myapproach{
	padding: 3em 10em 3em 7em;
}

section#myapproachcolumn1{ 
	float:left;
	padding: 0.5em 1em;
	width:22%;
}
section#myapproach div{ 
	margin:2 auto; 
} 
section#myapproachcolumn2{ 
	float:left; 
	width:39%;
	padding: 1em; 
}
section#myapproachcolumn3{ 
	float:left; 
	width:39%;
	padding: 1em;
}
section#contact{
	font-family:'Raleway', sans-serif;
	text-align: center;
	padding: 2em 0 5em 0;
}
#contact a:hover {
    color: #333;
    transition: transform 0.2s, color 0.2s;
}
img#iryna {
	max-width: 100%; 
	height: auto;
	margin:1.3em;
}
img#drop {
	max-width: 100%; 
	height: auto;
	margin:1.3em;
}
img#psychotherapy{
	width: 20.5em; 
}
img#energywork{
	width: 22em; 
}
img#pastlife{
	width: 21em; 
}
img{
	max-width: 100%; 
	height: auto;
}
a:hover {
    color: rgba(242,134,0,1);;
    transition: transform 0.2s, color 0.2s;
}
 
.button {
	text-decoration: none;
	color: #1477ab;
	font-size: 1em;
}
.sendemail{
	text-decoration: none;
	color: white;
	font-size: 0.9em;
	padding: 0.4em 1em;
	border-radius: 25px;
	background-color: rgba(242,134,0,0.8);
	margin: 0 7em;
	font-family:'Raleway', sans-serif;
}
.sendemail:hover{
	background-color: rgba(135,135,135,0.8);
	color: white;
	transition: transform 0.4s, color 0.4s;
}
.quote{
	text-align: center;
	padding: 1.7em 1em;
	color: #333;
	font-size: 20px;
	font-weight: bold;
	line-height: 150%;
	border-top: 2px solid rgba(242,134,0,0.8);
	border-bottom: 2px solid rgba(242,134,0,0.8);
	margin:0.7em 11em;
	font-family:'Raleway', sans-serif;
	font-weight: normal;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;

}
footer {
    height: 65px;
    background-color: #333;
    color: rgba(215, 215, 215, 0.3);
    font-weight: normal;
    text-align: center;
    font-family:'Raleway', sans-serif;
}
section#main {
	background-color: rgba(255, 255, 255, 0.8);
}
 
