
* {margin: 0; padding:0; box-sizing:border-box;}
body {
	background-image: url('../images/ocean.jpeg');
	background-attachment:fixed;
	background-size:cover;
	background-repeat:no-repeat;
	font-size: 17px;
	font-family:'Fanwood Text', sans-serif;
	line-height: 150%;
}
div{
	float: left;
	height: 69vh; 
	margin: 0.5em 2em 0 3em;
}
div h1 {
	font-size: 45px;
	color: rgba(242,134,0,0.9) ;
	font-family:'Raleway', sans-serif;
	font-weight: normal;
	line-height: 100%;
	}   
div p{
	font-size: 19.5px;
	margin: none;
	color: rgba(242,134,0,0.9) ;
	font-family:'Raleway', sans-serif;
	font-weight: normal;
	line-height: 100%;
}
nav{
	margin: 1.5em 2em 0 0;
}
nav a{
	font-size: 1.2em;
	float: right;
	color: rgba(255,255,255, 0.8);
	text-decoration: none;
	padding: 0.3em 1em;
	font-family:'Raleway', sans-serif;
	font-size: 16px;
}
h2{
	text-align: center;
	font-weight: normal;
	padding: 0.7em 0 0 0.4em;
	text-transform: uppercase;
	font-size: 18px;
	font-family:'Raleway', sans-serif;
}
h3{
	text-align: left;
	font-weight: normal;
	font-size: 16px;
	text-transform: uppercase;
	padding: 0.6em 0 0 0;
	font-weight: bold;
}
p {
	padding: 0.6em 0;
}
.generalinfo {
	max-width:50em; 
	height:20vh;
	text-align: left;
	margin: 0 3em;
}
section#services { 
	padding: 0 7em 1em 7em;
} 
section#services div { 
	margin:2 auto; 
	font: 15px;
	max-width:75em; 
} 
.servicescolumns { 
	float:left; 
	padding:1em 1em; 
	width:33.33%; 
}
section#about{
	background-color: rgba(255, 255, 255, 0.8)
}
section#aboutiryna{
	padding: 3em 6em;
}
section#aboutirynacolumn1{ 
	float:left;
	width:18%; 
	margin:1em;
}
section#aboutirynacolumn2{ 
	float:left; 
	width:38%;
	max-width:25em; 
	margin:1em;
}
section#aboutirynacolumn3{
	float:left; 
	width:38%;
	max-width:25em; 
	margin:1em;
}
section#aboutirynacolumn3 a{
	font-family:'Raleway', sans-serif;
	font-size: 14px;
}
section#myapproach{
	padding: 3em 6em;
}
section#myapproachcolumn1{ 
	float:left;
	width:18%; 
	font-size: 17px;
	margin:1em;
}
section#myapproachcolumn2{ 
	float:left; 
	width:38%;
	max-width:25em; 
	margin:1em; 
}
section#myapproachcolumn3{ 
	float:left; 
	width:38%;
	max-width:25em; 
	margin:1em;
}
section#contact1{
	float:left; 
	width:50%; 
}
section#contact2{
	float:left; 
	width:50%;
}
#contact a:hover {
    color: #333;
    transition: transform 0.2s, color 0.2s;
}
#scroll:hover {
    color: #333;
    transition: transform 0.2s, color 0.2s;
}
img#iryna {
	height: 11em; 
	width: auto;
	margin:1.3em;
}
img#drop {
	height: 12em; 
	width: auto;
	margin:1.5em;
}
img#psychotherapy{
	width: 20.5em; 
}
img#energywork{
	width: 22em; 
}
img#pastlife{
	width: 21em; 
}
a:hover {
    color: #f28600;
    transition: transform 0.2s, color 0.2s;
}
 
.button {
	text-decoration: none;
	color: #1477ab;
	font-size: 1em;
}
.sendemail{
	text-decoration: none;
	color: #333;
	font-size: 0.9em;
	padding: 0.4em 1em;
	border-radius: 25px;
	background-color: rgba(242,134,0,0.8);
	margin: 0 7em;
}
.quote{
	text-align: center;
	padding: 1.7em 1em;
	color: #333;
	font-size: 20px;
	font-weight: bold;
	line-height: 150%;
	border-top: 2px solid rgba(242,134,0,0.8);
	border-bottom: 2px solid rgba(242,134,0,0.8);
	margin:0.7em 11em;
	font-family:'Raleway', sans-serif;
	font-weight: normal;
}
#slogan{
	font-size: 24px;
	color: rgba(255, 255, 255,0.8);
	margin:0 12em;
	font-weight: normal;
	line-height: 140%;
	font-family:'Raleway', sans-serif;
	width: 950px;
	height: 12em;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;

}
footer {
    height: 65px;
    background-color: #333;
    color: rgba(215, 215, 215, 0.3);
    font: 4px;
    font-weight: normal;
    text-align: center;
    font-family:'Raleway', sans-serif;
    padding: 1em;
}
footer a{
	text-decoration: none;
	padding:1.5em;
	color: rgba(215, 215, 215, 0.5);
}
footer p{
	float:right;
}
#contact-form {
    background-color:#F2F7F9;
    width:500px;
    height: 600px;
    padding:20px;
    margin: 50px 9em;    
    position:relative;
}
 
#contact-form h1 {
    font-size:23px;
    padding: 0.5em 0 0.7em 0;
}
 
#contact-form h2 {
    margin-bottom:15px;
    font-style:italic;
    font-weight:normal;
}
 
#contact-form input, 
#contact-form select, 
#contact-form textarea, 
#contact-form label {
    font-size:15px;
    margin-bottom:2px;
}
 
#contact-form input, 
#contact-form select, 
#contact-form textarea {
    width:450px;
    border: 1px solid #CEE1E8;
    margin-bottom:20px;
    padding:4px;
}
 
#contact-form input:focus, 
#contact-form select:focus, 
#contact-form textarea:focus {
    border: 1px solid #AFCDD8;
    background-color: #EBF2F4;
}
 
#contact-form textarea {
    height:150px;
    resize: none;
}
 
#contact-form .required {
    font-weight:bold;
    color:#F00;    
}
 
#contact-form #submit-button {
    width: 100px;
    background-color:#333;
    color:#FFF;
    border:none;
    display:block;
    float:right;
    margin-bottom:0px;
    margin-right:6px;
    background-color:#8FB5C1;
    -moz-border-radius:8px;
}
 
#contact-form #submit-button:hover {
    background-color: #A6CFDD;
}
 
#contact-form #submit-button:active {
    position:relative;
    top:1px;
}
 
#contact-form #loading {
    width:32px;
    height:32px;
    background-image:url(../img/loading.gif);
    display:block;
    position:absolute;
    right:130px;
    bottom:16px;
    display:none;
}
 
#errors {
    border:solid 1px #E58E8E;
    padding:10px;
    margin:25px 0px;
    display:block;
    width:437px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    background:#FFE6E6 url(../img/cancel_48.png) no-repeat 405px center;
    display:none;
}
 
#errors li {
    padding:2px;
    list-style:none;    
}
 
#errors li:before {
    content: ' - ';    
}
 
#errors #info {
    font-weight:bold;
}
 
#errors #info:before {
    content: '';    
}
 
#success {
    border:solid 1px #83D186;
    padding:25px 10px;
    margin:25px 0px;
    display:block;
    width:437px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    background:#D3EDD3 url(../img/accepted_48.png) no-repeat 405px center;
    font-weight:bold;
    display:none;
}
 
#errors.visible, #success.visible {
    display:block;    
}
 
#req-field-desc {
    font-style:italic;
    font-size: 12px;
}
 
