* {margin: 0; padding:0; box-sizing:border-box;}
body {
	background-color: white;
	color: #333;
	size: auto;
	max-width: 100%;
}
div#splash {
	background-image:url("http://arbat.org/images/igrushki/29356253236f40ca4c9542403ce1bedc.jpg");
	background-size: 1500px auto;
	background-repeat:no-repeat;
	background-attachment:fixed;
	height:150vh;
}
h1 {
	float: left;
	margin: .5em .5em;
	font-size: 80px;
	color: #111;
	font-family: 'Cabin sketch', sans-serif;
}  

nav a{
	font-size: 30px;
	float: left;
	color: #111;
	text-decoration: none;
	padding: 2.3em 1em 0 0;
	font-weight: bold;
	font-family: 'Cabin sketch', sans-serif;
	text-align: right;
}